installed_requirements.txt
.venv/
*/__pycache__/*
klucz_do_api.txt
secret_key.txt
*.ipynb
proxies.txt
data/posts/*

# allow notebooks inside the "notebooks" directory
!notebooks/
!notebooks/**/*.ipynb