beautifulsoup4
pandas
numpy
geopandas
scikit-learn
lightgbm
matplotlib
seaborn
selenium
scipy
scikit-image
sentence-transformers
tf-keras # backwards compatibility for sentence-transformers
folium
Pillow
PyQt6
tqdm
tensorflow
xgboost
httpx
httpx[http2]
aiofiles
ipywidgets
ipykernel
ipython
jupyter_client
jupyter_core
jupytext
openpyxl
requests
wykop_sdk_reloaded