beautifulsoup4
pandas
numpy
geopandas
scikit-learn
lightgbm
matplotlib
selenium
scipy
scikit-image
folium
Pillow
PyQt6
tqdm
httpx
httpx[http2]
aiofiles
ipywidgets
ipykernel
ipython
jupyter_client
jupyter_core
jupytext
openpyxl
requests
wykop_sdk_reloaded